---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import BlogPreview from '../components/BlogPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title='Tech Blog | Dushmanta'
  description="Learn about Dushmanta's technical blogs"
>
  <div class='stack gap-20'>
    <main class='wrapper stack gap-8'>
      <Hero
        title='My Tech Blog'
        tagline="Check out what I've been learning, problems I've solved, and insights from my tech journey".
        align='start'
      />
      <Grid variant='offset'>
        {
          projects.map((project) => (
            <li>
              <BlogPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
