---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
  a {
    @apply relative flex items-center justify-center text-center px-6 py-3 md:px-8 md:py-4 gap-2 md:gap-3 no-underline rounded-xl overflow-hidden whitespace-nowrap;
    color: var(--accent-text-over);
    line-height: 1.1;
    background: var(--gradient-accent-cta);
    box-shadow: var(--shadow-md);
    font-size: var(--text-base);
  }

  @media (min-width: 768px) {
    a {
      font-size: var(--text-lg);
    }
  }

  /* Overlay for hover effects. */
  a::after {
    @apply absolute inset-0 pointer-events-none;
    content: '';
    transition: background-color var(--theme-transition);
    mix-blend-mode: overlay;
  }

  a:focus::after,
  a:hover::after {
    background-color: hsla(var(--gray-999-basis), 0.3);
  }
</style>
