---
import CallToAction from '@components/CallToAction.astro';
import Icon from '@components/Icon.astro';
---

<aside class='wrapper stack gap-8 lg:gap-20'>
  <h2>Interested in working together?</h2>
  <CallToAction href='mailto:hello@dushmanta.dev'>
    Send Me a Message
    <Icon icon='paperPlaneTilt' size='1.2em' />
  </CallToAction>
</aside>

<style>
  aside {
    @apply flex flex-col items-center gap-12 border-t border-b border-gray-800 px-6 py-20 bg-[var(--gray-999-40)];
  }

  h2 {
    @apply text-center max-w-[15ch] text-xl;
  }

  @media (min-width: 50em) {
    aside {
      @apply flex-row flex-wrap justify-between;
    }

    h2 {
      @apply text-3xl text-left;
    }
  }
</style>
