---
import CallToAction from '@components/CallToAction.astro';
import Icon from '@components/Icon.astro';
import ContactForm from './ContactForm.astro';
---

<section class='contact-section'>
  <h2 class='text-3xl font-bold'>Interested in working together?</h2>

  <!-- Quick Contact Button -->
  <div class='flex justify-center'>
    <CallToAction href='mailto:hello@dushmanta.dev'>
      Send Mail
      <Icon icon='paperPlaneTilt' size='1em' />
    </CallToAction>
  </div>
  <!-- Divider -->
  <div class='divider'>
    <div class='line'></div>
    <span>or</span>
    <div class='line'></div>
  </div>

  <!-- Contact Form -->
  <ContactForm />
</section>

<style>
  .contact-section {
    @apply mb-12 py-12 md:py-16 flex flex-col gap-6 text-center backdrop-blur bg-[rgba(255,255,255,0.04)] border border-[var(--gray-800)] px-4 rounded-lg;
  }

  .divider {
    @apply flex items-center justify-center gap-3 py-3;
  }

  .line {
    @apply h-px w-64 bg-[var(--gray-800)];
  }

  .divider span {
    @apply text-sm text-[var(--gray-400)];
  }
</style>
