---
import FooterSocialLink from '@components/footer/FooterSocialLink.astro';
const currentYear = new Date().getFullYear();
---

<footer
  class='flex flex-col gap-3 text-center mt-auto py-12 text-custom-400 text-sm sm:flex-row sm:justify-between'
>
  <div class='flex flex-col gap-2 sm:flex-row sm:gap-4 sm:flex-wrap'>
    <p>&copy; {currentYear} Dushmanta</p>
  </div>
  <p class='flex justify-center gap-4 flex-wrap sm:justify-end'>
    <FooterSocialLink href='https://github.com/dushmanta05'>GitHub</FooterSocialLink>
    <FooterSocialLink href='https://linkedin.com/in/dushmanta05'>LinkedIn</FooterSocialLink>
    <FooterSocialLink href='https://x.com/dushmanta05'>X</FooterSocialLink>
  </p>
</footer>
