---
interface Props {
  title: string;
  tagline?: string;
  align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero text-base stack gap-4', align]}>
  <div class="stack gap-2">
    <h1 class="title text-5xl-custom">{title}</h1>
    {tagline && <p class="tagline text-base">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }

  .title {
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .tagline {
    color: var(--gray-300);
    font-weight: 400;
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-lg);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-3xl);
    }

    .tagline {
      font-size: var(--text-lg);
    }
  }
</style>
