---
import Icon from '@components/Icon.astro';
---

<section
  class='mt-14 bg-[var(--gray-999-40)] border border-[var(--gray-800)] rounded-xl lg:rounded-3xl p-6 lg:p-10 shadow-sm'
>
  <div class='flex flex-col lg:grid lg:grid-cols-3 gap-12 lg:gap-20 relative'>
    <div class='flex flex-col gap-4 relative pb-12 lg:pb-0 lg:pr-10'>
      <div class='flex flex-row items-center gap-2'>
        <Icon icon='terminalWindow' color='var(--accent-regular)' size='2rem' gradient />
        <h2 class='text-2xl'>Full Stack</h2>
      </div>
      <p class='text-[var(--gray-400)]'>
        Skilled in both frontend and backend, with a primary focus on building secure, efficient,
        and scalable backend systems.
      </p>
      <div
        class='hidden lg:block absolute top-1/2 right-0 h-[70%] w-px bg-[var(--gray-800)] transform -translate-y-1/2'
      >
      </div>
      <div class='block lg:hidden absolute bottom-0 left-0 w-full h-px bg-[var(--gray-800)]'></div>
    </div>

    <div class='flex flex-col gap-4 relative pb-12 lg:pb-0 lg:pr-10'>
      <div class='flex flex-row items-center gap-2'>
        <Icon icon='puzzle' color='var(--accent-regular)' size='2rem' gradient />
        <h2 class='text-2xl'>Problem Solver</h2>
      </div>
      <p class='text-[var(--gray-400)]'>
        Detail-oriented and analytical, I tackle challenges with a clear approach, creating
        efficient and reliable solutions.
      </p>
      <div
        class='hidden lg:block absolute top-1/2 right-0 h-[70%] w-px bg-[var(--gray-800)] transform -translate-y-1/2'
      >
      </div>
      <div class='block lg:hidden absolute bottom-0 left-0 w-full h-px bg-[var(--gray-800)]'></div>
    </div>

    <div class='flex flex-col gap-4 relative'>
      <div class='flex flex-row items-center gap-2'>
        <Icon icon='binoculars' color='var(--accent-regular)' size='2rem' gradient />
        <h2 class='text-2xl'>Tech Explorer</h2>
      </div>
      <p class='text-[var(--gray-400)]'>
        Always on the lookout for new tools and technologies to implement effective and modern
        solutions.
      </p>
    </div>
  </div>
</section>
