---
import Icon from '@components/Icon.astro';
---

<section class='box skills'>
  <div class='stack gap-2 lg:gap-4'>
    <div class='flex flex-row items-center gap-2'>
      <Icon icon='terminalWindow' color='var(--accent-regular)' size='2rem' gradient />
      <h2 class='text-2xl'>Full Stack</h2>
    </div>
    <p>
      Skilled in both frontend and backend, with a primary focus on building secure, efficient, and
      scalable backend systems.
    </p>
  </div>
  <div class='stack gap-2 lg:gap-4'>
    <div class='flex flex-row items-center gap-2'>
      <Icon icon='puzzle' color='var(--accent-regular)' size='2rem' gradient />
      <h2 class='text-2xl'>Problem Solver</h2>
    </div>
    <p>
      Detail-oriented and analytical, I tackle challenges with a clear approach, creating efficient
      and reliable solutions.
    </p>
  </div>
  <div class='stack gap-2 lg:gap-4'>
    <div class='flex flex-row items-center gap-2'>
      <Icon icon='binoculars' color='var(--accent-regular)' size='2rem' gradient />
      <h2 class='text-2xl'>Tech Explorer</h2>
    </div>
    <p>
      Always on the lookout for new tools and technologies to implement effective and modern
      solutions.
    </p>
  </div>
</section>

<style>
  .box {
    @apply text-customGray-overlay border border-customGray-800 rounded-xl p-6 shadow-[var(--shadow-sm)];
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills p {
    @apply text-customGray-400;
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }
  }
</style>
